.cityName {
  width: 8vw;
  font-size: 4vmin;
  font-weight: bolder;
  text-align: center;
  white-space: nowrap;
  color: black;
  pointer-events: none;
  display: none;
}

.cityName__center {
  font-size: 5vmin;
}

.cityName__hover {
  display: inline;
}