.mark {
  position: absolute;
  width: 7vw;
  height: 7vw;
  object-fit: cover;
  cursor: pointer;
}

.mark__center {
  position: absolute;
  width: 13vw;
  height: 13vw;
  object-fit: cover;
}

.mark__hover {
  opacity: 0.2;
  transform: scale(1.2, 1.2);
  transition: 0.2s;
}