.tag{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  font-size: 1rem;
  font-weight: bold;
  color: #474448;
  border: none;
  border-radius: 10px;
  padding: 3%;
  margin-right: 0.5vh;
}