.itemInform {
  display: flex;
  flex-direction: column;
}

.container__name {
  display: flex;
  flex-direction: column;
  margin-left: 3vh;
  margin-bottom: 1vh;
}

.name {
  font-size: 2.4vmin;
  font-weight: bold;
  color: #E0DDCF;
}

.subName {
  font-size: 2vmin;
  font-weight: normal;
  color: #E0DDCF;
}

.container__tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 3vh;
}