.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 15vh;
  padding: 15px;
  z-index: 1;
}

.logo {
  height: 11vh;
  margin-left: 3vw;
  margin-top: 1vh;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.containerMenu {
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  transition: 1s;
}
.containerMenu__closed {
  position: absolute;
  top: -100%;
  left: 0%;
}

.btnMenu {
  height: 60%;
  border-radius: 5px;
  margin-top: 1.5vh;
  margin-right: 2vw;
}
.btnMenu:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
  cursor: pointer;
}