.containerMenu {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  transition: 1s;
}
.containerMenu__closed {
  top: -100%;
}

.logo {
  position: absolute;
  top: 1.5vh;
  left: 0.5vw;
  height: 11vh;
  margin-left: 3vw;
  margin-top: 1vh;
  z-index: 100;
  transition: 1s;
}

.btnMenu {
  position: absolute;
  top: 2vh;
  right: 1vw;
  height: 8vh;
  border-radius: 5px;
  margin-top: 1.5vh;
  margin-right: 2vw;
  z-index: 100;
}
.btnMenu:hover {
  transform: scale(1.1, 1.1);
  transition: 1s;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}