ul, li {
  display: inline;
  list-style: none;
}

.container_map {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.map {
  width: 70%;
  height: 100%;
}
.logo {
  position: absolute;
  top: 85%;
  left: 88%;
  width: 10%;
  height: auto;
  object-fit: contain;
  z-index: 1;
}