.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 100%;
  border-right: 3px solid gray;
  overflow-y: scroll;
}
.list_filter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}