.arrow_up {
  position: absolute;
  top: 50%;
  left: 46.5%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 7vw;
  height: 7vw;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.arrow_left {
  position: absolute;
  top: 80%;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vw;
  height: 7vw;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.arrow_right {
  position: absolute;
  top: 80%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vw;
  height: 7vw;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.arrow_up:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}

.arrow_left:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}

.arrow_right:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}