#outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 140px);
  margin-top: 15vh;
}

.contianer {
  position: relative;
  width: calc(100vh - 25vh);
  height: calc(100vh - 25vh);
}

.contianer_logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 8vw;
  text-decoration: none;
  transform: translate(-50%, -50%);
}

.cityName {
  width: 8vw;
  font-size: 4vmin;
  font-weight: bolder;
  text-align: center;
  white-space: nowrap;
  color: black;
  pointer-events: none;
  display: none;
}

.logo {
  position: absolute;
  width: 8vw;
  height: 8vw;
  object-fit: cover;
  cursor: pointer;
}

.logo_center {
  position: absolute;
  width: 12vw;
  height: 12vw;
  object-fit: cover;
}

.contianer_logo:hover .logo {
  opacity: 0.2;
  transform: scale(1.2, 1.2);
  transition: 0.2s;
}
.contianer_logo:hover .logo + .cityName {
  display: inline;
}