.opened {
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px;
  z-index: 1;
  transition: 1s;
}
.closed {
  position: absolute;
  top: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  z-index: 1;
  transition: 1s;
}

.logo {
  position: absolute;
  left: 2%;
  height: 75%;
  object-fit: cover;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 0 6vw;
}

.link {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 5%;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  margin: 0 5px;
}
.link:hover .mark {
  transform: translate(0, -1vh);
}
.link:hover .cityName {
  opacity: 1;
  transition: 0.5s;
}

.mark {
  width: 100%;
  filter: invert(100%);
  object-fit: cover;
}
.cityName {
  position: absolute;
  top: 90%;
  width: 100%;
  font-size: 2vmin;
  text-align: center;
  opacity: 0;
}

.btn_menu {
  position: absolute;
  top: 4%;
  left: 93%;
  height: 60px;
  border-radius: 10px;
  margin-right: 4vw;
  z-index: 5;
  transition: 1s;
}
.btn_menu:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
  cursor: pointer;
}