.signInForm {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 35%;
  border: 3px solid #474448;
  border-radius: 15px;
  background-color: #E0DDCF;
  padding: 1%;
  transform: translate(-50%, -50%);
}

.guidePhrase {
  font-size: 1.5rem;
  color: #474448;
  margin-bottom: 20px;
}

.container__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2vh;
}

.container__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 5px 0;
}

.container__input label {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #474448;
}

.container__input input {
  width: 100%;
  height: 1vh;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5%;
}

.wrongSubmitMessage {
  font-weight: bold;
  color: red;
  margin-bottom: 2vh;
}

.container__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button {
  width: 100px;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #474448;
  border-radius: 10px;
  margin-right: 15px;
}