.mapIndex {
  position: absolute;
  bottom: 0.5%;
  left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background-color: #474447;
  padding: 0.5%;
  z-index: 1;
}
.row__mapIndex {
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
}
.mapIndexIcon {
  width: 50px;
  height: 50px;
  margin-right: 0.5vw;
  object-fit: cover;
}
.mapIndex span {
  font-size: 1.8vmin;
  font-weight: bold;
  color: #E0DDCF
}