.item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 20vh;
  padding: 2vh;
  cursor: pointer;
}
.item:hover .img_item {
  transform: scale(1.4, 1.4);
  transition: 0.5s;
}

.empty_list {
  display: flex;
  align-items: center;
  height: 100vh;
  font-size: 3vmin;
  font-weight: bold;
  color: #E0DDCF;
}

.item .img_container {
  width: 28%;
  height: 16vh;
  /* border: 1px solid black; */
  border-radius: 1000px;
  overflow: hidden;
}
.item .img_item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.2, 1.2);
}

.item .textbox {
  display: flex;
  flex-direction: column;
}

.item .textbox .namebox {
  display: flex;
  flex-direction: column;
  margin-left: 3vh;
  margin-bottom: 1vh;
}
.item .textbox .namebox p {
  font-size: 2.4vmin;
  font-weight: bold;
  color: #E0DDCF;
}
.item .textbox .namebox span {
  font-size: 2vmin;
  font-weight: normal;
  color: #E0DDCF;
}

.item .textbox .tagbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 3vh;
}
.item .textbox .tagbox .tag{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 30px;
  font-size: 1rem;
  font-weight: bold;
  color: #474448;
  background-color: #E0DDCF;
  border: none;
  border-radius: 10px;
  padding: 1vh;
  margin-right: 0.5vh;
}

.item hr {
  position: absolute;
  width: 95%;
  top: 100%;
  left: 2.5%;
}