.dataControl {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.scrollBlock {
  position: fixed;
}

.dataList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: gainsboro;
  border-radius: 15px;
  padding: 1%;
}