.descContent {
  width: 100%;
  padding: 1%;
}

.descTitle {
  display: flex;
}

.itemName {
  font-size: 1.1rem;
  font-weight: bold;
}

.descToggleButton {
  background-color: transparent;
  border: none;
  margin-left: 0.5vw;
}

.desc {
  width: 100%;
  white-space: pre-line;
}