.itemTableHead {
  min-width: 3vw;
  height: 3vh;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #e0ddcf;
  text-align: center;
}

.itemTableRow {
  text-align: center;
}

.itemTableDataBlock {
  border: 1px solid #e0ddcf;
}