.button__sidePageToggle {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 50px;
  height: 100px;
  border: 1px solid gray;
  border-right: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #E0DDCF;
  transform: translate(-100%, -50%);
  cursor: pointer;
}