.container__img {
  grid-column: 1 / 2 ;
  grid-row: 2 / 3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.img__main {
  width: 100%;
  height: 78%;
  border: 3px solid #E0DDCF;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 2%;
  object-fit: cover;
  transition: 1s;
}

.container__subImg {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20%;
}

.img__sub {
  width: 32%;
  height: 100%;
  border: 3px solid #E0DDCF;
  border-radius: 15px;
  background-color: #E0DDCF;
  object-fit: cover;
  cursor: pointer;
}

.img__selected {
  border: 5px solid red;
}