.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 5%;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  margin: 0 5px;
}
.nav:hover .mark {
  transform: translate(0, -1vh);
}
.nav:hover .cityName {
  opacity: 1;
  transition: 0.5s;
}

.mark {
  width: 100%;
  filter: invert(100%);
  object-fit: cover;
}

.cityName {
  position: absolute;
  top: 90%;
  width: 100%;
  font-size: 2vmin;
  text-align: center;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}